:root {
  --color-lavender: #f1ebff;
  --color-lavender-shallow: #faf7ff;
  --color-lavender-accent: #9264ff;

  --color-text-primary: #514f56;
  --color-text-secondary: #ac88ff;
  --color-text-tertiary: #fff;
}
