@font-face {
  font-family: 'ALS Gorizont';
  src: url('../fonts/als-gorizont-bold-expanded.otf');
}

@font-face {
  font-family: 'Helvetica' sans-serif;
  src:
    url('https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf') format('woff'),
    url('https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf') format('opentype'),
    url('https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf') format('truetype');
}

.p1-regular {
  font: 300 20px/23px Helvetica;
}

.p3-regular {
  font: 300 15px/17px Helvetica;
}

.h1-wide {
  font:
    500 35px/35px ALS Gorizont,
    sans-serif;
}

.h3-wide {
  font:
    500 20px/20px ALS Gorizont,
    sans-serif;
}

.h4-wide {
  font:
    500 15px/15px ALS Gorizont,
    sans-serif;
}
